<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mysolution</title>
    <!-- Bootstrap studio.. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- stlye file for the solution.html -->
    <!-- ***********************Jquery Scripts*********************************************************** -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- ************************************************************************************************ -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    {% load static %}
 <!-- ******************navbar stylesheet*********** -->
    
    <!--Responsiveness-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />


    <!-- ****************Stylesheet****************** -->

    <!--FontAwesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!--CSS Style-->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/ace-responsive-menu.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!-- ****************************Navbar************************ -->
    <div class="demo">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <h3>solutiontube</h3>
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Responsive Menu Structure-->
            <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
            <ul  id="respMenu" class="ace-responsive-menu"
                data-menu-style="horizontal ceter">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ebook:book' %}">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span class="title">Ebook</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'mytutorial:tutorial' %}">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span class="title">Tutorial</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'mysolution:solution' %}">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <span class="title">Solution</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span class="title">About us</span>
                    </a>
                </li>
                <li class="last ">
                    <a href="{% url 'contact' %}">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="title">Contact</span>
                    </a>
                </li>
                <li class="last ">
                    <a href="{% url 'account_logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="title">log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End of Responsive Menu -->
    </div>
    <!--Scripts-->
    <script src="{% static 'js/ace-responsive-menu.js' %}" type="text/javascript"></script>  

    <!--Plugin Initialization-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768', // Set the same in Media query
                animationSpeed: 'fast', //slow, medium, fast
                accoridonExpAll: false //Expands all the accordion menu on click
            });
        });
    </script>
<!--********************** NavBar-************** -->

    <!-- our solution code start from here.. -->

    <div style="text-align: center; padding-top: 1.8cm;;" class="container">
        <form method="POST">
            {% csrf_token %}
            <input style="border-radius:1.3cm; width: 10cm; padding-left:0.5cm" type="text" id="company_autocomplete_input" name="search" placeholder="Which book, Do you want to read.."
                autocomplete="on" autofocus>
            <button style="border-radius:2cm;" type="submit" class="btn-outline-primary">Search</button>
        </form>
    </div>

    <hr>
    <div style="padding-top:0.2cm; text-align: center;" class="container">
        {% if result %}
        {% for book in result %}
        <div>
            <h1>
                <h5 style="color: rgb(9, 1, 10);">{{ book.title }}</h5>
            </h1>
            <br>
            <div>
                <img width="220px" height="220px" src="{{ book.img.url }}">
            </div>
            <br>


            <div>
                <script type="text/javascript"
                    src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('#button').click(function () {
                            if (!$('#iframe').length) {
                                $('#iframeHolder').html('<iframe class="embed-responsive-item" style="height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;padding-top:1.5cm;" frameborder="0" height="100%" width="100%"  id="iframe" src="{{ book.ebook }}#toolbar=0" ></iframe>');
                            }
                        });
                    });
                </script>

                <button id="button" class="btn btn-success">Read online</button>
                <div id="iframeHolder"></div>
            </div>

            <br>

        </div>


        {% endfor %}
        {% endif %}

    </div>
    </div>
    <!-- ********************Auto-complete Jquery script************************************* -->
    <script>
        $(function () {
            $("#company_autocomplete_input").autocomplete({
                source: "{% url 'ebook-autocomplete' %}",
                autoFocus: true,
                delay: 0,
                minLength: 1,
            });
        });
    </script>

    <!-- ***************************Bootstrap scripts************************************************** -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
